<div class="main-content">
    <div class="rs-about style7 pt-60 pb-40 md-pt-40 md-pb-0 gray-bg text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 pl-50 md-pl-15 col-md-12">
                    <div class="sec-title2">
                        <div class="sub-title">Tentang Fakultas Ushuluddin</div>
                        <h2 class="title mb-30">Visi, Misi, Tujuan dan Motto</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="main-body pt-20">
            <div class="row">
                <div class="col-lg-3">
                    <nav id="navbar">
                        <header class="border-bottom">
                            <h4>Visi, Misi &amp; Tujuan</h4>
                        </header>
                        <ul class="unorder-list mb-20 ps-0 mt-3 border-bottom" style="list-style: square inside;">
                            <li class="mb-2"><a
                                    class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                                    style="text-decoration: underline;" href="#visi">Visi</a></li>
                            <li class="mb-2"><a class="link-dark rounded" href="#misi">Misi</a></li>
                            <li class="mb-2"><a class="link-dark rounded" href="#tujuan">Tujuan</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-9">
                    <main id="main-doc">
                        <section id="visi" class="main-section" style="scroll-margin-top: 11rem;">
                            <header>
                                <h5>Visi Fakultas Ushuluddin</h5>
                            </header>
                            <p style="text-align: left;">Visi Fakultas Ushuluddin <em>"Menjadikan Fakultas Ushuluddin
                                    sebagai fakultas yang terkemuka dalam pengembangan dan pengintegrasian ilmu
                                    dasar-dasar keislaman dan ilmu-ilmu sosial yang berdemensi etis, keindonesiaan dan
                                    kemanusiaan sampai tahun 2020"</em></p>
                            <p style="text-align: left;">Dasar pengkajian dan penyusunan Visi dan Misi Fakultas
                                Ushuluddin adalah mengacu kepada Undang-undang Nomor 13 Tahun 2003 tentang Sistem
                                Pendidikan Nasional Perguruan Tinggi PP No 8/ 2012 Kerangka Kualifikasi Nasional
                                Indonesia (KKNI) Fakultas dalam pengkajian dan perumusan visi dan misi Fakultas
                                melibatkan stakeholder internal (dosen, pengawai, mahasiswa, pimpinan) eksternal
                                (Pengguna Lulusan yang diwakili oleh Subdit Ketenagaan Direktorat Pendidikan Tinggi
                                Agama Islam, Kemenag, Tiga Orang Tenaga Ahli, dan Tiga Orang Alumni).</p>
                            <p style="text-align: left;">Mekanisme penyusunan visi, misi, tujuan dan sasaran serta
                                strategi pencapaian dilakukan oleh pimpinan Fakultas dengan melibatkan stakeholders yang
                                terdiri dari pimpinan Fakultas, pengelola Program Studi, dosen tetap, pegawai, alumni,
                                mahasiswa dan pengguna lulusan. Adapun langkah-langkah yang dilakukan oleh Fakultas
                                adalah sebagai berikut:</p>
                            <ol>
                                <li>Membentuk tim pengkaji untuk melakukan kajian dalam proses perumusan visi, misi,
                                    sasaran, serta strategi pencapaian.</li>
                                <li>Mengkaji visi dan misi Universitas Islam Syarif Hidayatullah Jakarta, sebagai acuan
                                    menyusun visi dan misi Fakultas Ushuluddin.</li>
                                <li>Menganalisis dan mendiagnosis lingkungan internal dan eksternal, untuk mengetahui
                                    kekuatan, kelemahan, peluang, dan ancaman Fakultas Ushuluddin. Dalam proses analisis
                                    dan diagnosis ini, tim pengkaji dibantu oleh pengelola Fakultas Ushuluddin.</li>
                                <li>Melakukan lokakarya penyusunan visi dan misi Fakultas Ushuluddin dengan melibatkan
                                    dosen, alumni, pengguna lulusan, mahasiswa, dan pegawai sehingga tersusun visi dan
                                    misi Fakultas Ushuluddin di Hotel Seruni Bogor, tanggal 14 Oktober 2014.</li>
                                <li>Hasil Lokakarya visi dan misi dibawa ke dalam rapat Senat Fakultas Ushuluddin.</li>
                                <li>Merumuskan tujuan, sasaran, dan strategi pencapaian yang akan ditempuh untuk
                                    mewujudkan visi tersebut pada tahun yang ditetapkan yaitu tahun 2020.</li>
                                <li>Selanjutnya, Sosialisasi Visi, Misi dan tujuan kepada Civitas Akademika Fakultas
                                    Ushuluddin pada Rapat Persiapan Semester yang dikuti oleh seluruh Dosen.<sup>
                                    </sup>(Lampiran jadwal rapat dosen dengan adanya agenda acara penyampaian Visi dan
                                    Misi). Sosialisasi Visi, Misi dan tujuan kepada Civitas Akademika Fakultas
                                    Ushuluddin pada Rapat Persiapan Semester yang dikuti oleh seluruh Pegawai.</li>
                                <li>Mensosialisasikan Visi, Misi dan tujuan Fakultas Ushuluddin pada Pondok Pesantren
                                    yang ada di Wilayah Jakarta, Jawa Barat dan Banten.</li>
                                <li>Sosialisasi kepada mahasiswa baru melalui kegiatan PABK (pengenalan Akademik dan
                                    Budaya Kampus).</li>
                                <li>Mensosialisikan melalui Web Fakultas Ushuluddin.</li>
                            </ol>
                        </section>
                        <section id="misi" class="main-section pt-20" style="scroll-margin-top: 11rem;">
                            <header>
                                <h5>Misi Fakultas Ushuluddin</h5>
                            </header>
                            <p style="text-align: left;">Adapun Misi dari Fakultas Ushuluddin antara lain:</p>
                            <ol>
                                <li>Melaksanakan pengajaran, pendidikan dan pengembang ilmu-ilmu dasar dan sosial Islam,
                                    baik yang bersifat teoritik maupun aplikatif.</li>
                                <li>Memelihara tradisi keilmuan dan intelektual yang sudah baik dan sekaligus mendorong
                                    penemuan teori-teori baru.</li>
                                <li>Memotivasi mahasiswa agar berpikir rasional, analitis-kritis, bersikap etis dan
                                    beorientasi pada pemecahan masalah serta berpandangan jauh ke depan.</li>
                                <li>Melaksanakan dan meningkatkan kuantitas dan kualitas penelitian dalam rangka
                                    pengembangan ilmu-ilmu dasar dan sosial Islam.</li>
                                <li>Melakukan kerjasama dengan lembaga intra universitas dan ekstra universitas untuk
                                    memberi wawasan dan kesempatan yang lebih luas kepada sivitas akademika untuk
                                    aktualisasi diri.</li>
                                <li>Melaksanakan kegaiatan ekstrakulikuler yang mendukung dan menumbuh suburkan minat
                                    dan bakat mahasiswa.</li>
                                <li>Memelihara dan meningkatkan fasilitas pengajaran, penelitian dan pengabdian kepada
                                    masyarakat.</li>
                                <li>Melakukan manajemen modern yang&nbsp; berbasis pada akuntabilitas, transparansi,
                                    efisiensi, dan efektifitas.</li>
                            </ol>
                        </section>
                        <section id="tujuan" class="main-section pt-20" style="scroll-margin-top: 11rem;">
                            <header>
                                <h5>Tujuan</h5>
                            </header>
                            <p>Tujuan UIN Syarif Hidayatullah Jakarta adalah : <em>Pertama </em>menyiapkan peserta didik
                                agar menjadi anggota masyarakat yang memiliki kemampuan akademik dan atau profesional
                                yang dapat menerapkan, mengembangkan menciptakan ilmu pengetahuan agama Islam, iptek,
                                dan seni yang dijiwai oleh nilai-nilai keislaman; kedua mengembangkan dan
                                menyebarluaskan ilmu agama Islam, iptek, seni yang dijwai oleh nilai-nilai keislaman,
                                serta mengupayakan penggunaannya untuk meningkatkan taraf kehidupan masyarakat dan
                                memperkaya kebudayaan. Sejalan dengan tujuan UIN Syarif Hidayatullah Jakarta, maka
                                tujuan Fakultas Ushuluddin antara lain:</p>
                            <ol>
                                <li>Mencetak sarjana-sarjana muslim yang berwawasan ilmu Ke-ushuluddinan, keilmuan dan
                                    ke-Indonesiaan.</li>
                                <li>Memberikan bekal kepada mahasiswa tentang dasar-dasar agama.</li>
                                <li>Menghasilkan akademisi yang toleran terhadap keragaman keyakinan dan agama orang
                                    lain.</li>
                                <li>Mencetak lulusan yang paham tentang sejarah agama-agama, pemikiran Islam dan
                                    tafsir-hadis.</li>
                                <li>Analisis aspek kejelasan visi, misi, tujuan dan sasaran</li>
                                <li>Rumusan visi, misi, tujuan dan sasaran yang ada sangat simpel yang intinya adalah
                                    ingin mengintegrasikan ilmu dasar-dasar keislaman dan ilmu-ilmu sosial yang
                                    berdemensi etis, keindonesiaan dan kemanusiaan.</li>
                                <li>Adanya batasan tahun pencapaian yaitu pada tahun 2021.</li>
                                <li>Analisis aspek kerealistikan visi, misi, tujuan dan sasaran</li>
                                <li>Tersedianya dosen yang ahli dalam bidang ke-ushuludinan.</li>
                                <li>Fasilitas yang memadai sarana dan prasarana.</li>
                                <li>Ketersediaan kurikulum yang mencakup ilmu keislaman, ilmu social dan keindonesiaan.
                                </li>
                                <li>Analisis aspek keterkaitan visi, misi, tujuan dan sasaran</li>
                                <li>Visi misi Fakultas sangat terkait antara satu dengan lainnya. Misi merupakan rincian
                                    tugas visi, sementara tujuan berkaitan dengan hasil kongkrit yang hendak diraih.
                                </li>
                                <li>Visi Fakultas Ushuluddin terkait dengan visi Universitas Islam Negeri (UIN) Syarif
                                    Hidayatullah yaitu <em>"UIN Syarif Hidayatullah sebagai perguruan tinggi yang otonom
                                        dan unggul dalam riset integrasi keilmuan-keislaman"</em>.</li>
                            </ol>
                        </section>
                    </main>
                </div>
            </div>
        </div>
    </div>
</div>