<div class="main-content">
    <div
        class="rs-popular-courses style1 course-view-style orange-color rs-inner-blog white-bg pt-100 pb-100 md-pt-70 md-pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="widget-area shadow-lg">
                        <div class="widget-archives mb-50" style="border: solid 2px #0099ff;">
                            <h3 class="widget-title border-bottom">Direktorat</h3>
                            <div class="row">
                                <div class="col-lg-6">
                                    <ul class="categories margin-remove">
                                        <li><a href="#">Direktorat 1</a></li>
                                        <li><a href="#">Direktorat 2</a></li>
                                        <li><a href="#">Direktorat 3</a></li>
                                        <li><a href="#">Direktorat 4</a></li>
                                        <li><a href="#">Direktorat 5</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-6">
                                    <ul class="categories margin-remove">
                                        <li><a href="#">Direktorat 6</a></li>
                                        <li><a href="#">Direktorat 7</a></li>
                                        <li><a href="#">Direktorat 8</a></li>
                                        <li><a href="#">Direktorat 9</a></li>
                                        <li><a href="#">Direktorat 10</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="widget-area shadow-lg">
                        <div class="widget-archives mb-50" style="border: solid 2px #0099ff;">
                            <h3 class="widget-title border-bottom">Fakultas</h3>
                            <div class="row">
                                <div class="col-lg-6">
                                    <ul class="categories margin-remove">
                                        <li><a href="https://dev-fitk.uinjkt.ac.id/id">Fakultas Ilmu Tarbiyah dan
                                                Keguruan</a></li>
                                        <li><a href="https://dev-fah.uinjkt.ac.id/id">Fakultas Adab dan Humaniora</a>
                                        </li>
                                        <li><a href="https://dev-fu.uinjkt.ac.id/id">Fakultas Ushuluddin</a></li>
                                        <li><a href="https://dev-fsh.uinjkt.ac.id/id">Fakultas Syariah dan Hukum</a>
                                        </li>
                                        <li><a href="https://dev-fdikom.uinjkt.ac.id/id">Fakultas Dakwah dan Ilmu
                                                Komunikasi</a></li>
                                        <li><a href="https://dev-fdi.uinjkt.ac.id/id">Fakultas Dirasat Islamiyah</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-6">
                                    <ul class="categories margin-remove">
                                        <li><a href="#">Fakultas Psikologi</a></li>
                                        <li><a href="#">Fakultas Ekonomi dan Bisnis</a></li>
                                        <li><a href="#">Fakultas Sains dan Teknologi</a></li>
                                        <li><a href="#">Fakultas Kedokteran</a></li>
                                        <li><a href="#">Fakultas Ilmu Kesehatan</a></li>
                                        <li><a href="#">Fakultas Ilmu Sosial dan Politik</a></li>
                                        <li><a href="#">Sekolah Pascasarjana</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="widget-area shadow-lg">
                        <div class="widget-archives mb-50" style="border: solid 2px #0099ff;">
                            <h3 class="widget-title border-bottom">Biro</h3>
                            <ul class="categories margin-remove">
                                <li><a href="#">Biro Administrasi Akademik, Kemahasiswaan, Kerjasama (Biro AAKK)</a>
                                </li>
                                <li><a href="#">Biro Administrasi Umum &amp; Kepegawaian (Biro AUK)</a></li>
                                <li><a href="#">Biro Perencanaan dan Keuangan (Biro PK)</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 order-last">
                    <div class="widget-area shadow-lg">
                        <div class="widget-archives mb-50" style="border: solid 2px #0099ff;">
                            <h3 class="widget-title border-bottom">Lembaga &amp; Unit</h3>
                            <ul class="categories margin-remove">
                                <li><a href="#">Lembaga Penjaminan Mutu (LPM)</a></li>
                                <li><a href="#">Lembaga Penelitian dan Pengabdian Masyarakat (LP2M)</a></li>
                                <li><a href="#">UPT Ma'had Aljamiah</a></li>
                                <li><a href="#">UPT Pusat Bahasa</a></li>
                                <li><a href="#">UPT Pusat Bisnis</a></li>
                                <li><a href="#">UPT Pusat Teknologi Informasi dan Pangakalan Data (PUSTIPANDA)</a></li>
                                <li><a href="#">Satuan Pengawasan Internal (SPI)</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>