<!-- Penelitian ID Start -->
<p>&nbsp;</p>
<!-- About Section Start -->
<div class="rs-about style7 pt-50 pb-50 md-pt-30 md-pb-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 md-mb-30">
                <div class="img-part js-tilt"><img
                        src="https://asset.uinjkt.ac.id/uploads/hLyeGRPz/2023/10/2563371972613450593769516917998755283463744n.jpg"
                        alt="images" /></div>
            </div>
            <div class="col-lg-6 pl-50 md-pl-15 col-md-12">
                <div class="sec-title2">
                    <div class="sub-title">FAKULTAS USHULUDDIN</div>
                    <h2 class="title mb-30">Penelitian</h2>
                    <p class="desc mb-25">Penelitian di Fakultas Ushuluddin adalah perjalanan intelektual yang mendalam
                        untuk mengeksplorasi rahasia, hikmah, dan kebijaksanaan yang terkandung dalam agama Islam. Ini
                        bukan hanya mencakup studi tentang ajaran-ajaran agama, tetapi juga melibatkan analisis kritis,
                        refleksi filosofis, dan penyelidikan historis untuk memahami lebih baik pesan-pesan agama dan
                        cara mereka beradaptasi dengan perubahan zaman.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Section End -->
<p>&nbsp;</p>
<!-- Popular Courses Section Start -->
<div id="rs-popular-courses" class="rs-popular-courses style3 gray-bg pt-30 pb-0 md-pt-40 md-pb-40">
    <div class="container">
        <div class="row y-middle mb-50 md-mb-30">
            <div class="col-md-12 sm-mb-30">
                <div class="sec-title">
                    <div class="sub-title primary">Fakultas Ushuluddin</div>
                    <h2 class="title mb-0">Jurnal</h2>
                </div>
            </div>
        </div>
        <div class="rs-carousel owl-carousel" data-loop="false" data-items="1" data-margin="30" data-autoplay="true"
            data-hoverpause="true" data-autoplay-timeout="5000" data-smart-speed="800" data-dots="false" data-nav="true"
            data-nav-speed="false" data-center-mode="false" data-mobile-device="1" data-mobile-device-nav="false"
            data-mobile-device-dots="false" data-ipad-device="2" data-ipad-device-nav="true"
            data-ipad-device-dots="false" data-ipad-device2="2" data-ipad-device-nav2="true"
            data-ipad-device-dots2="false" data-md-device="4" data-md-device-nav="true" data-md-device-dots="false">
            <div class="courses-item">
                <div class="img-part"><img
                        src="https://asset.uinjkt.ac.id/uploads/hLyeGRPz/2023/10/journal-ushuluddin.jpg" alt="" /></div>
                <div class="content-part"><a class="categories"
                        href="https://journal.uinjkt.ac.id/index.php/ilmu-ushuluddin" target="_blank"
                        rel="noopener">Llmu-Ushuluddin A</a></div>
            </div>
        </div>
    </div>
</div>
<!-- Popular Courses Section End -->
<p>&nbsp;</p>
<!-- Penelitian ID End -->