<div class="rs-about style7 pt-50 pb-50 md-pt-30 md-pb-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 md-mb-30">
                <div class="img-part js-tilt"><img
                        src="https://asset.uinjkt.ac.id/uploads/hLyeGRPz/2023/10/pendidikanushuluddin.jpg"
                        alt="images" /></div>
            </div>
            <div class="col-lg-6 pl-50 md-pl-15 col-md-12">
                <div class="sec-title2">
                    <div class="sub-title">Fakultas Ushuluddin</div>
                    <h2 class="title mb-30">Pendidikan</h2>
                    <p class="desc mb-25">Fakultas Ushuluddin adalah bagian yang sangat penting dalam ekosistem
                        pendidikan Islam di berbagai universitas dan institusi pendidikan tinggi di seluruh dunia.
                        Fakultas ini berdedikasi untuk mendalami inti ajaran Islam, bukan hanya dari sudut pandang
                        keagamaan, tetapi juga intelektual dan akademik. Di dalam Fakultas Ushuluddin, mahasiswa
                        menjalani serangkaian mata kuliah yang mencakup pemahaman mendalam tentang konsep-konsep dasar
                        dalam Islam, seperti aqidah (keyakinan), fiqih (hukum Islam), dan akhlak (etika). Mereka juga
                        mempelajari sejarah perkembangan pemikiran Islam, termasuk peran ulama-ulama terkemuka dalam
                        sejarah Islam.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- About Section End -->
    <p>&nbsp;</p>
    <!-- Categories Section Start -->
    <div id="rs-categories" class="rs-categories gray-bg style1 pt-30 pb-30 md-pt-64 md-pb-40">
        <div class="container">
            <div class="row y-middle mb-50 md-mb-30">
                <div class="col-md-6 sm-mb-30">
                    <div class="sec-title">
                        <div class="sub-title primary">Pilih Studi yang Anda Minati</div>
                        <h2 class="title mb-0">Program Studi</h2>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="btn-part text-end sm-text-start"><a class="readon"
                            href="https://admisi.uinjkt.ac.id/">Pendaftaran PMB 2024</a></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-30">
                    <div class="categories-item">
                        <div class="icon-part"><img
                                src="https://asset.uinjkt.ac.id/uploads/assets/images/icon-kategori-01.png" alt="" />
                        </div>
                        <div class="content-part">
                            <h4 class="title"><a style="color: inherit; text-decoration: inherit;"
                                    href="s1-studi-agama-agama">Studi Agama-Agama (SAA)</a></h4>
                            <span class="courses">S1-Sarjana</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-30">
                    <div class="categories-item">
                        <div class="icon-part"><img
                                src="https://asset.uinjkt.ac.id/uploads/assets/images/icon-kategori-01.png" alt="" />
                        </div>
                        <div class="content-part">
                            <h4 class="title"><a style="color: inherit; text-decoration: inherit;"
                                    href="s1-ilmu-al-qur'an-dan-tafsir">Ilmu Al-Qur'an dan Tafsir (IAT)</a></h4>
                            <span class="courses">S1-Sarjana</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-30">
                    <div class="categories-item">
                        <div class="icon-part"><img
                                src="https://asset.uinjkt.ac.id/uploads/assets/images/icon-kategori-01.png" alt="" />
                        </div>
                        <div class="content-part">
                            <h4 class="title"><a style="color: inherit; text-decoration: inherit;"
                                    href="s1-ilmu-hadis">Ilmu Hadis (IH)</a></h4>
                            <span class="courses">S1-Sarjana</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-30">
                    <div class="categories-item">
                        <div class="icon-part"><img
                                src="https://asset.uinjkt.ac.id/uploads/assets/images/icon-kategori-01.png" alt="" />
                        </div>
                        <div class="content-part">
                            <h4 class="title"><a style="color: inherit; text-decoration: inherit;"
                                    href="s1-aqidah-dan-filsafat-islam">Aqidah dan Filsafat Islam (AFI)</a></h4>
                            <span class="courses">S1-Sarjana</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-30">
                    <div class="categories-item">
                        <div class="icon-part"><img
                                src="https://asset.uinjkt.ac.id/uploads/assets/images/icon-kategori-01.png" alt="" />
                        </div>
                        <div class="content-part">
                            <h4 class="title"><a style="color: inherit; text-decoration: inherit;"
                                    href="s1-ilmu-tasawuf">Ilmu Tasawuf (IT)</a></h4>
                            <span class="courses">S1-Sarjana</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-30">
                    <div class="categories-item">
                        <div class="icon-part"><img
                                src="https://asset.uinjkt.ac.id/uploads/assets/images/icon-kategori-01.png" alt="" />
                        </div>
                        <div class="content-part">
                            <h4 class="title"><a style="color: inherit; text-decoration: inherit;"
                                    href="s2-magister-studi-agama-agama">Magister Studi Agama-Agama (SAA)</a></h4>
                            <span class="courses">S2-Magister</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-30">
                    <div class="categories-item">
                        <div class="icon-part"><img
                                src="https://asset.uinjkt.ac.id/uploads/assets/images/icon-kategori-01.png" alt="" />
                        </div>
                        <div class="content-part">
                            <h4 class="title"><a style="color: inherit; text-decoration: inherit;"
                                    href="s2-magister-aqidah-dan-filsafat-islam">Magister Aqidah dan Filsafat Islam
                                    (AFI)</a></h4>
                            <span class="courses">S2-Magister</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-30">
                    <div class="categories-item">
                        <div class="icon-part"><img
                                src="https://asset.uinjkt.ac.id/uploads/assets/images/icon-kategori-01.png" alt="" />
                        </div>
                        <div class="content-part">
                            <h4 class="title"><a style="color: inherit; text-decoration: inherit;"
                                    href="s2-magister-ilmu-alqur'an-dan-tafsir">Magister Ilmu Alqur'an dan Tafsir</a>
                            </h4>
                            <span class="courses">S2-Magister</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Categories Section End -->
    <p>&nbsp;</p>
    <!-- informasi pedoman dan kalender akademik start -->
    <div id="rs-categories" class="rs-categories uin-bg style1 pt-50 pb-50 md-pt-40 md-pb-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 md-mb-30"><a class="categories-item"
                        href="https://asset.uinjkt.ac.id/uploads/assets/pedoman/pedoman-akademik-uin-2022-2023.pdf"
                        target="_blank" rel="noopener">
                        <div class="icon-part"><img
                                src="https://asset.uinjkt.ac.id/uploads/assets/images/icon-kategori-01.png" alt="" />
                        </div>
                        <div class="content-part">
                            <h4 class="title">Pedoman Akademik</h4>
                        </div>
                    </a></div>
                <div class="col-lg-6 col-md-6 md-mb-30"><a class="categories-item"
                        href="https://asset.uinjkt.ac.id/uploads/hLyeGRPz/2023/09/sk-rektor-no-753-ttg-kalender-akademik-ta-2023-2024-2.pdf"
                        target="_blank" rel="noopener">
                        <div class="icon-part"><img
                                src="https://asset.uinjkt.ac.id/uploads/assets/images/icon-kategori-01.png" alt="" />
                        </div>
                        <div class="content-part">
                            <h4 class="title">Kalender Akademik</h4>
                        </div>
                    </a></div>
            </div>
        </div>
    </div>
    <!-- Informasi pedoman dan kalender akademik end -->
    <p>&nbsp;</p>
    <!-- Team Section Start -->
    <div id="rs-team" class="rs-team home11-style gray-bg3 pt-30 pb-30 md-pt-40 md-pb-40">
        <div class="container">
            <div class="sec-title2 text-center mb-50 md-mb-30">
                <div class="sub-title">Fakultas Ilmu Kesehatan</div>
                <h2 class="title purple-color">Guru Besar</h2>
            </div>
            <div class="rs-carousel owl-carousel nav-style2" data-loop="true" data-items="4" data-margin="30"
                data-autoplay="true" data-hoverpause="true" data-autoplay-timeout="5000" data-smart-speed="800"
                data-dots="false" data-nav="true" data-nav-speed="false" data-center-mode="false" data-mobile-device="1"
                data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="2"
                data-ipad-device-nav="false" data-ipad-device-dots="false" data-ipad-device2="1"
                data-ipad-device-nav2="false" data-ipad-device-dots2="false" data-md-device="4"
                data-md-device-nav="true" data-md-device-dots="false">
                <div class="team-item">
                    <div class="team-thumbnail">
                        <div class="team-img"><img style="aspect-ratio: auto;"
                                src="https://asset.uinjkt.ac.id/uploads/hLyeGRPz/2023/10/lilik-300x300.jpg"
                                alt="" /><br />
                            <ul class="team-social-link">
                                <li><a href="#"><span class="fa fa-facebook"><!-- icon --></span></a></li>
                                <li><a href="#"><span class="fa fa-google-plus"><!-- icon --></span></a></li>
                                <li><a href="#"><span class="fa fa-linkedin"><!-- icon --></span></a></li>
                                <li><a href="#"><span class="fa fa-twitter"><!-- icon --></span></a></li>
                            </ul>
                        </div>
                        <div class="team-header">
                            <h4 class="name"><a href="#">Dr. Lilik Ummi Kaltsum, M.A</a></h4>
                            <span class="subject">Bidang Ilmu: Pengkajian Islam</span>
                        </div>
                    </div>
                </div>
                <div class="team-item">
                    <div class="team-thumbnail">
                        <div class="team-img"><img style="aspect-ratio: auto;"
                                src="https://asset.uinjkt.ac.id/uploads/hLyeGRPz/2023/10/kautsar-300x300.jpg"
                                alt="Zilhadia-Dekan (1)" /><br />
                            <ul class="team-social-link">
                                <li><a href="#"><span class="fa fa-facebook"><!-- icon --></span></a></li>
                                <li><a href="#"><span class="fa fa-google-plus"><!-- icon --></span></a></li>
                                <li><a href="#"><span class="fa fa-linkedin"><!-- icon --></span></a></li>
                                <li><a href="#"><span class="fa fa-twitter"><!-- icon --></span></a></li>
                            </ul>
                        </div>
                        <div class="team-header">
                            <h4 class="name"><a
                                    href="https://staff.uinjkt.ac.id/profile.php?staff=c9a5023a-8baf-7221-78d1-077e03be804b">Prof.
                                    Dr. H. Kautsar Azhari Noer</a></h4>
                            <span class="subject">Bidang Ilmu: Perbandingan Agama/Studi Islam</span>
                        </div>
                    </div>
                </div>
                <div class="team-item">
                    <div class="team-thumbnail">
                        <div class="team-img"><img style="aspect-ratio: auto;"
                                src="https://asset.uinjkt.ac.id/uploads/hLyeGRPz/2023/10/ismaturopi-300x300.jpg"
                                alt="WhatsApp Image 2023-09-14 at 19.03.47 (1)" /><br />
                            <ul class="team-social-link">
                                <li><a href="#"><span class="fa fa-facebook"><!-- icon --></span></a></li>
                                <li><a href="#"><span class="fa fa-google-plus"><!-- icon --></span></a></li>
                                <li><a href="#"><span class="fa fa-linkedin"><!-- icon --></span></a></li>
                                <li><a href="#"><span class="fa fa-twitter"><!-- icon --></span></a></li>
                            </ul>
                        </div>
                        <div class="team-header">
                            <h4 class="name"><a
                                    href="https://staff.uinjkt.ac.id/profile.php?staff=de126e3e-1b9b-27c7-f89b-4240d8e46866">Prof.
                                    Ismatu Ropi, MA., PhD</a></h4>
                            <span class="subject">Bidang Ilmu: Perbandingan Agama</span>
                        </div>
                    </div>
                </div>
                <div class="team-item">
                    <div class="team-thumbnail">
                        <div class="team-img"><img style="aspect-ratio: auto;"
                                src="https://asset.uinjkt.ac.id/uploads/hLyeGRPz/2023/09/media-zainul.png"
                                alt="" /><br />
                            <ul class="team-social-link">
                                <li><a href="#"><span class="fa fa-facebook"><!-- icon --></span></a></li>
                                <li><a href="#"><span class="fa fa-google-plus"><!-- icon --></span></a></li>
                                <li><a href="#"><span class="fa fa-linkedin"><!-- icon --></span></a></li>
                                <li><a href="#"><span class="fa fa-twitter"><!-- icon --></span></a></li>
                            </ul>
                        </div>
                        <div class="team-header">
                            <h4 class="name"><a
                                    href="https://staff.uinjkt.ac.id/profile.php?staff=1345f92b-ac96-1e2d-91cc-cf49785d2aaf">Prof.
                                    Dr. Media Zainul Bahri, M.A</a></h4>
                            <span class="subject">Bidang Ilmu: Perbandingan Agama</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team Section End -->
</div>