<div class="rs-inner-blog orange-color pt-20 pb-20 md-pt-40 md-pb-40">
    <div class="container">
        <div class="blog-deatails" style="border-radius: 20px; overflow: hidden;">
            <div class="blog-details">
                <div class="blog-full p-0">
                    <div class="blog-desc">
                        <div class="row">
                            <div class="col-12" style="max-height: 480px; overflow: hidden;"><iframe
                                    style="margin-top: -135px; min-width: 991px;" title="Profil Singkat fst"
                                    src="https://www.youtube.com/embed/Nr2xv0qXsLs" width="100%" height="692"
                                    frameborder="0" allowfullscreen=""></iframe></div>
                        </div>
                        <div class="row"
                            style="box-shadow: 0px -40px 150px 170px white; position: relative; padding-bottom: 60px;">
                            <div class="col-12 col-lg-5"
                                style="background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0), rgba(245, 246, 252, 0),     rgba(245, 246, 252, 0), rgba(255, 255, 255, 1)), url('https://asset.uinjkt.ac.id/uploads/cJIesuWV/2023/10/husni-teja-removebg-preview.png'); background-size: 92%; background-position: bottom; background-repeat: no-repeat; margin-top: -40%;">
                                <img class="w-100" style="visibility: hidden;"
                                    src="https://asset.uinjkt.ac.id/uploads/cJIesuWV/2023/10/husni-teja-removebg-preview.png" /> <!-- <p style="text-align: center; position: absolute; width: 100%; bottom: -90px;">
                                                <b>Husni Teja Sukmana, S.T., M.Sc, Ph.D</b>
                                                <br>
                                                Dekan Fakultas Sains dan Teknologi
                                            </p> --></div>
                            <div class="col-12 col-lg-7 py-3 px-5">
                                <h3>Prakata Dekan</h3>
                                <p>Assalamualaikum Wr. Wb., Saya adalah Husni Teja Sukmana, sebagai Dekan Fakultas Sains
                                    dan Teknologi UIN Syarif Hidayatullah Jakarta. Fakultas kami terdiri dari sembilan
                                    program studi, termasuk Teknik Informatika, Sistem Informasi, Agribisnis,
                                    Matematika, Fisika, Biologi, Kimia, dan Magister Agribisnis. Visi kami adalah
                                    membangun ketahanan diri Fakultas Sains dan Teknologi UIN Syarif Hidayatullah
                                    Jakarta untuk meningkatkan produktivitas berdasarkan kewirausahaan dan otomatisasi
                                    layanan menuju Fakultas Sains dan Teknologi yang unggul, moderat, dan memiliki daya
                                    saing internasional. <br /><br /><strong>Husni Teja Sukmana, S.T., M.Sc,
                                        Ph.D</strong> <br /><strong>Dekan Fakultas Sains dan Teknologi</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>