<!-- General Content ID -->
<div class="rs-about style7 pt-60 pb-40 md-pt-40 md-pb-0 gray-bg text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 pl-50 md-pl-15 col-md-12">
                <div class="sec-title2">
                    <div class="sub-title">Tentang Fakultas Ushuluddin</div>
                    <h2 class="title mb-30">Rencana Strategis</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Isi Tentang Start -->
<div class="rs-inner-blog orange-color pt-50 pb-50 md-pt-40 md-pb-40">
    <div class="container">
        <p>Rencana strategis (Renstra) Fakultas Ushuluddin adalah suatu dokumen perencanaan yang berorientasi pada hasil
            yang ingin dicapai dalam kurun waktu 1-5 tahun sehubungan dengan tugas dan fungsi Fakultas dengan
            memperhitungkan perkembangan lingkungan strategis yang digunakan untuk melakukan proyeksi kondisi pada masa
            depan. Di dalam Renstra digambarkan tujuan, sasaran, kebijakan, program dan kegiatan yang merupakan proses
            berkelanjutan</p>
        <object data="https://asset.uinjkt.ac.id/uploads/hLyeGRPz/2023/09/renstra-fu-28-april-2021.pdf"
            type="application/pdf" width="100%" height="800">
            <p>Unable to display PDF file. <a
                    href="https://asset.uinjkt.ac.id/uploads/hLyeGRPz/2023/09/renstra-fu-28-april-2021.pdf">Download</a>
                instead.</p>



        </object>
    </div>
</div>
<!-- /Isi Tentang End --><!-- /General Content ID -->