<!-- === Main Content Start === -->
<div class="main-content">
    <div class="rs-about style7 pt-60 pb-40 md-pt-40 md-pb-0 gray-bg text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 pl-50 md-pl-15 col-md-12">
                    <div class="sec-title2">
                        <div class="sub-title">Tentang Fakultas Ushuluddin</div>
                        <h2 class="title mb-30">Program Kerja</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="main-body pt-20">
            <div class="row">
                <div class="col-lg-3">
                    <nav id="navbar">
                        <header class="border-bottom">
                            <h4>Program Kerja</h4>
                        </header>
                        <ul class="list-unstyled ps-0 mt-3">
                            <li class="mb-1"><button class="btn btn-toggle text-start rounded collapsed"
                                    data-bs-toggle="collapse" data-bs-target="#pendahuluan-collapse"
                                    aria-expanded="true"> Pendahuluan </button>
                                <div id="pendahuluan-collapse" class="collapse">
                                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 pl-20 small">
                                        <li><a class="link-dark rounded" href="#Pendahuluan">Pendahuluan</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="mb-1"><button class="btn btn-toggle text-start rounded collapsed"
                                    data-bs-toggle="collapse" data-bs-target="#strategidasar-collapse"
                                    aria-expanded="false"> Strategi Dasar </button>
                                <div id="strategidasar-collapse" class="collapse">
                                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 pl-20 small">
                                        <li><a class="link-dark rounded link-primary" href="#StrategiDasar">Strategi
                                                Dasar Menuju Fakultas Ushuluddin yang Unggul</a></li>
                                        <li><a class="link-dark rounded"
                                                href="#PenguatanKapasitasSumberDayaFakultas">Penguatan Kapasitas Sumber
                                                Daya Fakultas</a></li>
                                        <li><a class="link-dark rounded"
                                                href="#KapasitasAkademikDanKekhasanFakultas">Penguatan Kapasitas
                                                Akademik Dan Kekhasan Fakultas</a></li>
                                        <li><a class="link-dark rounded"
                                                href="#PenguatanKapasitasKeterampilan">Penguatan Kapasitas Keterampilan,
                                                Pembinaan Bakat Mahasiswa dan Pengabdian pada Masyarakat</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="mb-1"><button class="btn btn-toggle text-start rounded collapsed"
                                    data-bs-toggle="collapse" data-bs-target="#kebijakanumum-collapse"
                                    aria-expanded="false"> Kebijakan Umum </button>
                                <div id="kebijakanumum-collapse" class="collapse">
                                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 pl-20 small">
                                        <li><a class="link-dark rounded"
                                                href="#KebijakanUmumMenujuFakultasUshuluddinyangUnggul">Kebijakan Umum
                                                Menuju Fakultas Ushuluddin yang Unggul Tahun 2024-2025</a></li>
                                        <li><a class="link-dark rounded"
                                                href="#PenguatanKapasitasSumberDayaFakultasKebijakanUmum">Penguatan
                                                Kapasitas Sumber Daya</a></li>
                                        <li><a class="link-dark rounded"
                                                href="#PenguatanKapasitasAkademik&amp;Kekhasan">Penguatan Kapasitas
                                                Akademik &amp; Kekhasan</a></li>
                                        <li><a class="link-dark rounded"
                                                href="#PenguatanKapasitasKeterampilanKebijakanUmum">Penguatan Kapasitas
                                                Keterampilan, Pembinaan Bakat Mahasiswa dan Pengabdian pada
                                                Masyarakat</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="border-top my-3">&nbsp;</li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-9">
                    <main id="main-doc">
                        <section id="Pendahuluan" class="main-section" style="scroll-margin-top: 11rem;">
                            <header>
                                <h5>A. Pendahuluan</h5>
                            </header>
                            <p>Urgensi bagi Fakultas Ushuluddin UIN Syarif Hidayatullah Jakarta untuk membangun generasi
                                profesional dan moderat menuju rekognisi global melibatkan beberapa alasan penting.
                                Salah satunya adalah peningkatan daya saing dan kapasitas fakultas yang ada, utamanya
                                Fakultas Ushuluddin sebagai foundation faculty bagi pendirian pergurun tinggi keagamaan
                                Islam di Indonesia.</p>
                            <p>Ada beberapa faktor utama dalam upaya mentransformasi Fakultas Ushuluddin UIN Jakarta
                                menuju keunggulan yang berorientasi internasional jika Fakultas ini juga terus menerus
                                adaptif dalam pengelolaan lembaga yang berdasarkan pada prinsip-prinsip good university
                                governance yang menekankan pada transparansi, akuntabilitas dan responsif.</p>
                            <p>Faktor-faktor terpenting itu adalah antara lain:</p>
                            <ol>
                                <li>Kepemimpinan yang visioner. Model kepemimpinan ini memiliki visi jangka panjang dan
                                    komitmen terhadap transformasi serta pengembangan institusi akan mendorong
                                    terwujudnya inovasi yang terus menerut. Kepemimpinan visioner harus menjadi bagian
                                    dari cara pandang Dekan, Wakil Dekan, Kepala dan Sekretaris Program Studi, Kepala
                                    Bagian Tata Usaha, Sub-Kordinator Akademik, Kemahasiswaan dan Alumni, Sub-
                                    Kordinator Umum dan Kepegawaian, Kepala Sub-Kordinator Perencanaan Akutansi dan
                                    Keuangan, Kepala Urusan Perpustakaan, dan beberapa elemen manajerial lain yang ada
                                    di Fakultas Ushuluddin.</li>
                                <li>Kemampuan kolaborasi dan kemitraan dengan berbagai lembaga pendidikan, industri, dan
                                    pemerintah lokal maupun internasional akan memungkinkan pertukaran pengetahuan,
                                    teknologi, dan sumber daya untuk mendukung inovasi dan temuan baru. Kolaborasi dan
                                    kemitraan ini memiliki kaitan yang erat dengan budaya inovasi. Budaya ini mendorong
                                    kreativitas, pemikiran baru, dan eksperimen akan mempercepat terwujudnya inovasi
                                    dalam berbagai aspek, termasuk kurikulum, metodologi pengajaran, dan penelitian.
                                </li>
                                <li>Penguatan infrastruktur fundamental fakultas seperti ruang kuliah yang
                                    representatif, perpustakaan yang berbasis digital, dan jaringan konektivitas
                                    internet yang cepat akan memberikan dukungan yang penting bagi penngajaran dan
                                    penelitian.</li>
                                <li>Penguatan yang kontinu terhadap sumber daya manusia dengan merekrut dan
                                    mempertahankan dosen, peneliti, dan tenaga pendidik berkualitas tinggi serta
                                    memberikan pelatihan dan pengembangan profesional secara berkelanjutan.</li>
                                <li>Pendanaan yang memadai untuk memastikan ketersediaan finansial untuk mendukung
                                    kegiatan inovasi, termasuk pendanaan internal dari institusi dan mencari sumber
                                    pendanaan eksternal.</li>
                                <li>Adaptatif dengan perubahan dengan terus memperhatikan tren dan perubahan dalam
                                    konteks global serta beradaptasi dengan kebutuhan dan harapan akan membantu Fakultas
                                    untuk menjadi lebih relevan dan dikenal secara internasional.</li>
                            </ol>
                            <p>Faktor-faktor di atas tentu memiliki spektrum yang harus disesuaikan dengan kenyataan ril
                                dan kemampuan yang dimiliki oleh UIN Jakarta secara umum. Semakin tinggi faktor-faktor
                                itu terpenuhi, semakin tinggi juga kemungkinan keberhasilan program-program yang
                                ditawarkan dan dilaksanakan. Faktor-faktor yang sifatnya eksternal ini juga harus
                                diintegrasikan dengan beberapa komponen yang sifatnya internal guna menjadikan Fakultas
                                Ushuluddin unggul dan berorientasi internasional. Komponen yang dimaksud antara lain:
                            </p>
                            <ol>
                                <ol>
                                    <li>Pengembangan ekosistem akademik yang kuat dengan penekanan pada pengembangan
                                        pengetahuan dan keterampilan yang dikembangkan oleh program studi sesuai
                                        kebutuhan ril masyarakat.</li>
                                    <li>Pengembangan pendidikan karakter dan nilai-nilai agama yang mengajarkan sikap
                                        moderat, toleransi, dan saling menghormati.</li>
                                    <li>Pengembangan ekosistem pembelajaran inklusif yang mendorong kolaborasi,
                                        pemahaman lintas budaya, dan pengalaman belajar yang beragam.</li>
                                    <li>Pengembangan keterampilan profesional untuk mempersiapkan mahasiswa menghadapi
                                        tantangan dunia kerja.</li>
                                    <li>Pengarusutamaan kegiatan ekstrakurikuler dan pengabdian masyarakat yang
                                        memperkuat kesadaran sosial, dan keterlibatan dosen dan mahasiswa dalam
                                        membangun masyarakat dengan menggunakan model yang berbeda atau variatif.</li>
                                </ol>
                            </ol>
                            <br />
                            <ol>&nbsp;</ol>
                        </section>
                        <section id="StrategiDasar" class="main-section" style="scroll-margin-top: 11rem;">
                            <header>
                                <h5>B. Strategi Dasar Menuju Fakultas Ushuluddin yang Unggul</h5>
                            </header>
                            <p>Untuk mencapai hal tersebut paling tidak ada 3 (tiga) strategi dasar yang dapat
                                dikembangkan di Fakultas Ushuludin yakni (1) penguatan kapasitas sumber daya fakultas
                                yang berkaitan dengan fasilitas, manajemen administrasi keuangan dan kehumasan; (2)
                                penguatan kapasitas akademik dan kekhasan fakultas/program studi berorientasi
                                internasional; dan (3) penguatan kapasitas keterampilan, pembinaan bakat mahasiswa dan
                                pengabdian pada masyarakat.</p>
                            <ol type="a">
                                <li>
                                    <section id="PenguatanKapasitasSumberDayaFakultas" class="main-section"
                                        style="scroll-margin-top: 11rem;">Penguatan Kapasitas Sumber Daya
                                        Fakultas.<br />Penguatan kapasitas sumber daya fakultas terkait fasilitas,
                                        manajemen administrasi keuangan, dan kehumasan menjadi bagi terpenting untuk
                                        menjadikan Fakultas Ushuluddin UIN Jakarta sebagai fakultas yang unggul. Untuk
                                        hal itu, terdapat beberapa isu utama yakni: pertama, penguatan kapasitas
                                        manajemen fakultas dengan mereview kembali kebijakan-kebijakan yang berkaitang
                                        dengan pengelolaan adminstrasi dan keuangan. Hal ini penting untuk memperkuat
                                        tata laksana manajemen berbasis akuntabilitas dan transparansi. Kedua,
                                        peningkatan dan pengembangan kapasitas tenaga pendidik dan staf pendukung lain
                                        secara kontinu di Fakultas Ushuluddin melalui pemberian kesempatan untuk
                                        berpartisipasi dalam seminar, pelatihan, atau sertifikasi yang relevan.
                                        <br />Ketiga, pengembangan pusat layanan yang meimplementasikan sistem informasi
                                        yang terintegrasi yang berbasis pada otomatisasi tugas-tugas administratif,
                                        meningkatkan akurasi pelaporan administrasi, keuangan, dan memudahkan
                                        pengelolaan anggaran dan aset. Keempat, penguatan dan pemeliharaan budaya asri
                                        dan nyaman Fakultas Ushuluddin yang mengutamakan kebersihan ruangan kelas dan
                                        kantor serta ruang publik seperti toilet, lift, tangga, ramah difabilitas,
                                        tertib dan asri. <br />Kelima, perencanaan kehumasan Fakultas Ushuluddin dengan
                                        berbasis strategi komunikasi yang komprehensif. Rencana strategis komunikasi ini
                                        perlu yang melibatkan saluran komunikasi yang berbeda, termasuk media sosial,
                                        situs web, dan publikasi internal. Strategi komunikasi ini meliputi pada
                                        kemampuan membuat dan menyanpaikan pesan yang konsisten dan sesuaikan dengan
                                        kebutuhan target audiens; kemampuan personal tim kehumasan yang yang berkualitas
                                        dan memiliki pengetahuan tentang strategi komunikasi dan manajemen media; serta
                                        mampu membangun hubungan dengan media lokal dan nasional.<br />&nbsp;</section>
                                </li>
                                <li>
                                    <section id="KapasitasAkademikDanKekhasanFakultas" class="main-section"
                                        style="scroll-margin-top: 11rem;">Kapasitas Akademik Dan Kekhasan
                                        Fakultas/Program Studi Berorientasi Internasional<br />Penguatan kapasitas
                                        akademik dan kekhasan fakultas/program studi berorientasi internasional
                                        merupakan proses meningkatkan keunggulan kapasitas civitas akademika Fakultas
                                        Ushuluddin dalam pengajaran dan penelitian dengan ciri khas yang membedakan
                                        Fakultas Ushuluddin di Jakarta dengan fakultas yang sama di perguruan tinggi
                                        keagamaan Islam yang lain. <br />Untuk itu terdapat beberapa isu utama dalam
                                        kaitannya dengan hal ini yaitu:
                                        <ol>
                                            <ol>
                                                <li>Pengembangan kurikulum relevan yang sesuai dengan perkembangan
                                                    terkini dalam bidang studi di Fakultas Ushuluddin berorientasi
                                                    internasional. Kurikulum harus mencakup tujuan yang jelas, mata
                                                    kuliah yang relevan dan update, dilakukan dengan pembelajaran yang
                                                    bervariasi, dan diintegrasikan dengan sistem teknologi informasi dan
                                                    komunikasi (TIK) yang menarik.</li>
                                                <li>Peningkatan kualitas pengajaran dengan secara sistematis melalui
                                                    pelatihan dosen, upgrading bidang ilmu, pengusaan pada metode
                                                    pengajaran yang inovatif, penggunaan teknologi pendidikan yang
                                                    efektif. Penting bagi dosen Fakultas Ushuluddin untuk terus
                                                    mengembangkan pendekatan interdisipliner dalam mengembangkan mata
                                                    kuliah di program studi sehingga menjadi lebih relevan dan manarik.
                                                </li>
                                                <li>Penguatan budaya penelitian yang berkualitas. Fakultas Ushuluddin
                                                    harus memfasilitasi dan mendorong dosen dan mahasiswa untuk
                                                    melakukan penelitian yang berkualitas tinggi, dan menyediakan
                                                    dukungan dan sumber daya yang diperlukan, seperti akses ke
                                                    perpustakaan yang baik, fasilitas laboratorium yang memadai, dan
                                                    pelatihan dalam metodologi penelitian dalam berbagai tingkatan dan
                                                    disiplin ilmu.</li>
                                                <li>Penguatan budaya menulis ilmiah. Penelitian yang dilakukan di
                                                    Fakultas Ushuluddin harus bermuara pada dua hal yakni (1) penguatan
                                                    kapasitas program studi dan mata kuliah atau peningkatan kualitas
                                                    pengajaran dan pendidikan program studi; dan (2) penguatan keahlian
                                                    yang dimiliki dosen peneliti yang bersangkutan. Hasil dari
                                                    penelitian ini harus difasilitasi untuk dapat diterbitkan di
                                                    berbagai jurnal terakreditasi baik nasional maupun internasional.
                                                    Publikasi yang berkualitas dalam bidang-bidang yang relevan dan
                                                    berkontribusi pada pengetahuan dan pemahaman yang lebih baik dalam
                                                    satu disiplin ilmu memperkuat citra dan reputasi Fakultas
                                                    Ushuluddin.</li>
                                                <li>Penguatan jurnal yang ada dan penerbitan jurnal baru berbasis
                                                    program studi. Sebagai flagship fakultas dan program studi,
                                                    keberadaan jurnal di lingkungan Fakultas Ushuluddin harus mendapat
                                                    perhatian serius. Oleh karena itu perlu dilakukan bebeberapa
                                                    kebijakan yang kongkret agar penerbitan jurnal di lingkungan
                                                    Fakultas Ushuluddin tetap berjalan dengan teratur antara lain dengan
                                                    memperkuat manajemen dan juga banguan pendanaa.</li>
                                                <li>Penguatan kerjasama dan jaringan yang relevan dengan pengembangan
                                                    lembaga dan pengembangan disiplin ilmu, pertukaran dosen (lecturer
                                                    exchange) dan mahasiswa (student mobility program), dan beberapa
                                                    kegiatan bersama lain dalam bidang pendidikan. Networking dan
                                                    kerjasama internasional harus menjadi perhatian bersama yang perlu
                                                    diwujudkan dalam bentuk pertukaran akademik, program joint-degree,
                                                    seminar internasional, dan kolaborasi penelitian bersama. Kerjasama
                                                    internasional akan membuka pintu bagi Fakultas Ushuluddin untuk
                                                    mendapatkan rekognisi global.</li>
                                            </ol>
                                        </ol>
                                        <br />
                                        <ol>&nbsp;</ol>
                                    </section>
                                </li>
                                <li>
                                    <section id="PenguatanKapasitasKeterampilan" class="main-section"
                                        style="scroll-margin-top: 11rem;">Penguatan Kapasitas Keterampilan, Pembinaan
                                        Bakat Mahasiswa dan Pengabdian pada Masyarakat<br />Secara ideal, terdapat
                                        beberapa standar atau kriteria dalam menilai mahasiswa Fakultas Ushuluddin UIN
                                        Jakarta sebagai alumni yang dibanggakan yakni antara lain (1) pengetahuan
                                        keislaman yang cukup baik dan kemampuan untuk mempraktikkannya secara moderat
                                        dan inklusif dalam kehidupan sehari-hari dan dalam interaksi dengan orang lain;
                                        (2) prestasi akademik dimana mahasiswa harus memiliki pencapaian akademik yang
                                        baik, seperti IPK yang memadai, mengikuti dan menyelesaikan mata kuliah dengan
                                        baik, serta menguasai pengetahuan dan keterampilan yang relevan dengan program
                                        studi yang diambil; (3) etika dan perilaku dimana mahasiswa harus menunjukkan
                                        perilaku yang baik, termasuk etika yang kuat, integritas, disiplin, dan tanggung
                                        jawab. Mereka juga harus mematuhi peraturan kampus dan menunjukkan sikap yang
                                        baik terhadap dosen, tendik, dan mahasiswa lainnya; (4) kemampuan interpersonal
                                        dimana mahasiswa harus memiliki kemampuan komunikasi yang baik, kemampuan
                                        bekerja sama dalam tim, serta mampu berinteraksi dengan beragam latar belakang
                                        dan budaya. Kemampuan ini penting untuk beradaptasi dengan lingkungan kerja yang
                                        multicultural; (5) kesadaran sosial dan keterlibatan mahasiswa dalam kegiatan di
                                        luar perkuliahan, seperti partisipasi dalam organisasi mahasiswa, kegiatan
                                        sosial, dan program pengabdian masyarakat.<br />Untuk membangun mahasiswa
                                        Fakultas Ushuluddin UIN Jakarta menjadi generasi yang professional dan moderat,
                                        ada beberapa langkah-langkah yang dapat diambil yakni:
                                        <ol>
                                            <ol>
                                                <li>Penguatan sistem seleksi mahasiswa untuk mendapatkan input yang
                                                    berkualitas.</li>
                                                <li>Pengembangan kurikulum dan sistem pembelajaran yang relevan, dan
                                                    secara proporsional memadukan pemahaman akademik dan keterampilan
                                                    praktis yang relevan dengan dunia kerja. Sebagai fakultas keagamaan,
                                                    harus menjadi kekhasan bahwa kurikulum yang dikembangkan harus
                                                    memberikan penekanan yang cukup bagi materi keagamaan sebagai nilai
                                                    yang mengajarkan nilai-nilai moderat, serta keterampilan
                                                    interpersonal, keterampilan berpikir kritis, dan keterampilan
                                                    profesional yang dibutuhkan di masa depan.</li>
                                                <li>Penyediaan pelatihan dan bimbingan yang kontinu untuk membantu
                                                    mahasiswa mengembangkan keterampilan akademik, profesional, dan
                                                    interpersonal meliputi keterampilan komunikasi, manajemen waktu, dan
                                                    bimbingan karir untuk membantu mahasiswa mempersiapkan diri mereka
                                                    untuk dunia kerja dan kehidupan di masa datang.</li>
                                                <li>Penguatan kesempatan untuk magang dan praktik kerja di industri atau
                                                    lembaga terkait memberikan pengalaman praktis bagi mahasiswa
                                                    sehingga mereka mampu mengaplikasikan pengetahuan dan keterampilan
                                                    yang telah dipelajari dalam konteks kerja nyata, sambil memperoleh
                                                    pemahaman tentang tuntutan profesionalisme dan bersikap
                                                    proporsional. Penting juga dibuka sebanyak-banyaknya kesempatan
                                                    program pertukaran pelajar dan kerjasama internasional untuk
                                                    memperluas wawasan mahasiswa tentang budaya, agama, dan perspektif
                                                    global, dan kemampuan menghargai keberagaman.</li>
                                                <li>Penanaman nilai-nilai moderat dalam lingkungan kampus yang dilakukan
                                                    secara sistematis sehingga tercipta ekosistem yang mendorong
                                                    pengamalan nilai-nilai moderat melalui pengembangan kebijakan,
                                                    program pendidikan, dan kegiatan yang mempromosikan saling
                                                    menghormati, toleransi, kerjasama, dan dialog antaragama.</li>
                                                <li>Penguatan pengabdian masyarakat dengan cara mengembangkan program
                                                    pengabdian masyarakat yang relevan dengan bidang program studi
                                                    mereka. Reorientasi atas konsep KKN, magang intership, PKL harus
                                                    secepatnya dilakukan agar kegiatan pengabdian ini memberi manfaat
                                                    langsung terhadap mahasiswa dan juga program studi dalam mengatasi
                                                    masalah nyata terjadi dalam masyarakat.</li>
                                            </ol>
                                        </ol>
                                        <br />
                                        <ol>&nbsp;</ol>
                                    </section>
                                </li>
                            </ol>
                        </section>
                        <section id="KebijakanUmumMenujuFakultasUshuluddinyangUnggul" class="main-section"
                            style="scroll-margin-top: 11rem;">
                            <header>
                                <h5>C. Kebijakan Umum Menuju Fakultas Ushuluddin yang Unggul Tahun 2024-2025</h5>
                            </header>
                            <p>Untuk mencapai tujuan menjadaikan Fakultas Ushuluddin UIN Jakarta sebagai lembaga yang
                                unggul dan berorientasi internasional terdapat beberapa kebijakan umum yang menjadi
                                titik tekan pada program kerja Fakultas Ushuluddin tahun 2024-2025 yakni:</p>
                            <ol type="a">
                                <li>
                                    <section id="PenguatanKapasitasSumberDayaFakultasKebijakanUmum" class="main-section"
                                        style="scroll-margin-top: 11rem;">Penguatan kapasitas sumber daya fakultas yang
                                        berkaitan dengan fasilitas, manajemen administrasi keuangan dan kehumasan dengan
                                        cara:
                                        <ol>
                                            <ol>
                                                <li>Memperkuat budaya kerja berbasis pelayanan (service-based working
                                                    culture) untuk dosen, tenaga kependidikan, staf, mahasiswa dan
                                                    alumni;</li>
                                                <li>Memperkuat kemampuan dosen/peneliti dan staf dalam manajemen dan
                                                    penggunaan teknologi informasi dan komunikasi (TIK) dalam pengajaran
                                                    dan pelayanan;</li>
                                                <li>Menciptakan iklim kebersamaan dan profesionalisme dalam berkerja dan
                                                    mengabdi;</li>
                                                <li>Mengupayakan gedung baru dan/atau sarana dan prasarana pendidikan
                                                    tambahan yang memadai bagi Guru Besar, dosen, tenaga pendidik, staf
                                                    dan mahasiswa Fakultas Ushuluddin untuk menunjang kinerja bekerja
                                                    dan belajar;</li>
                                                <li>Mereview dan menyempurnakan kerjasama yang sedang dilakukan, dan
                                                    memperluas jaringan kerjasama baru di tingkat nasional dan
                                                    internasional dalam pendidikan, pengajaran dan penelitian yang
                                                    berdampak terhadap peningkatan mutu Fakultas Ushuluddin UIN Jakarta;
                                                </li>
                                                <li>Memastikan sumberdaya yang mumpuni dalam pelaksanaan kegiatan yang
                                                    dilakukan di Fakultas Ushuluddin UIN Jakarta melalui proses promosi
                                                    dan demosi bagi seluruh dosen, tenaga kependidikan dan staf berjalan
                                                    dengan baik dan transparan;</li>
                                                <li>Mengoptimalkan evaluasi dan monitoring pelaksanaan program kerja
                                                    Fakultas Ushuluddin UIN Jakarta secara kontinu.</li>
                                            </ol>
                                        </ol>
                                        <br />
                                        <ol>&nbsp;</ol>
                                    </section>
                                </li>
                                <li>
                                    <section id="PenguatanKapasitasAkademik&amp;Kekhasan" class="main-section"
                                        style="scroll-margin-top: 11rem;">Penguatan kapasitas akademik dan kekhasan
                                        fakultas/program studi berorientasi internasional dengan cara:
                                        <ol>
                                            <ol>
                                                <li>Melakukan penyempurnaan kurikulum pendidikan dan sistem pengajaran
                                                    yang berdampak terhadap peningkatan mutu dan kompetensi lulusan;
                                                </li>
                                                <li>Memperkuat distinksi dan relevansi pendidikan dan pengajaran di
                                                    Fakultas Ushuluddin UIN Jakarta;</li>
                                                <li>Melakukan pemetaan sumber daya (resource mapping) dosen/peneliti dan
                                                    staf berdasarkan keahlian, keterampilan dan latar belakang
                                                    pendidikan;</li>
                                                <li>Memperkuat kapasitas tema penelitian dosen/peneliti yang berkaitan
                                                    dengan disiplin ilmu individual dan kolaboratif dalam rangka
                                                    pengembangan program studi;</li>
                                                <li>Memperkuat budaya dan kemampuan penelitian bagi dosen mampu
                                                    berkompetisi dan berkiprah lebih luas di kampus dengan menyediakan
                                                    insentif berbasis hasil (merit-based incentives) dan kesempatan
                                                    berbasis kemampuan/minat (expertise-based opportunities);</li>
                                                <li>Memperkuat kemampuan dosen/peneliti dan staf dalam manajemen dan
                                                    penggunaan teknologi informasi dan komunikasi (TIK) dalam pengajaran
                                                    dan pelayanan;</li>
                                                <li>Memperkuat kapasitas kelembagaan dalam pengelolaan dan mutu jurnal
                                                    atau penerbitan di lingkungan Fakultas Ushuluddin UIN Jakarta.</li>
                                            </ol>
                                        </ol>
                                        <br />
                                        <ol>&nbsp;</ol>
                                    </section>
                                </li>
                                <li>
                                    <section id="PenguatanKapasitasKeterampilanKebijakanUmum" class="main-section"
                                        style="scroll-margin-top: 11rem;">Penguatan kapasitas keterampilan, pembinaan
                                        bakat mahasiswa dan pengabdian pada masyarakat dengan cara:
                                        <ol>
                                            <li>Peningkatan kreatifitas, prestasi dan akhlak mulia mahasiswa dengan
                                                Memperkuat budaya sopan santun, empati dan saling menghargai dalam
                                                pergaulan sosial di lingkungan Fakultas secara khusus dan Kampus secara
                                                umum;</li>
                                            <li>Memperluas ruang-ruang perjumpaan mahasiswa dengan kelompok atau cara
                                                pandang yang berbeda;</li>
                                            <li>Memperluas jaringan kerjasama di tingkat nasional dan internasional
                                                dalam pendidikan bagi mahasiswa;</li>
                                            <li>Memperkuat budaya membaca, meneliti dan menulis al-Qur&rsquo;an
                                                mahasiswa;</li>
                                            <li>Memperkuat keterampilan seperti berbahasa dan kepemimpinan
                                                mahasiswa.<br />&nbsp;</li>
                                        </ol>
                                    </section>
                                </li>
                            </ol>
                        </section>
                    </main>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- === Main Content End === -->